*DEV*

lcov.info
*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml

/dev/Manifest*.toml

/docs/Manifest*.toml
/docs/build/
/docs/src/index.md
/docs/src/CONTRIBUTING.md
/docs/src/REFERENCES.md
/docs/src/assets/logo.svg
/docs/src/assets/favicon.ico
